.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.1rem 0.5rem;

  display: flex;
  gap: 15px;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_img {
  height: 2.43rem; /* 39px / 16 px = 2.43rem */
}

.logo_text {
  font-weight: 200;
  font-size: 1.2rem;
}

span {
  font-weight: 600;
}

.search_container {
  --padding: 0 1rem;
  --bg-color: #252a40;
  --height: 2.9rem; /*47 / 16 px= 2.93rem */
  --border-radius: 0.4rem; /* 6.5/16 = 0.406rem */

  display: flex;
}

.search {
  border: none;
  padding: var(--padding);
  width: 11.8rem;
  height: var(--height);
  border-radius: var(--border-radius) 0 0 var(--border-radius);

  background: var(--bg-color);
  color: white;
}

.search::placeholder {
  font-size: 13.11px;
  color: white;
}

.search_icon {
  background: var(--bg-color);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: var(--padding);
  height: var(--height);

  display: flex;
  align-items: center;
  justify-content: center;
}
