.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6rem; /* 96/16 = 6rem*/
  padding: 0 5.68rem; /* 91/16 = 5.68rem*/

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
  gap: 2.55rem; /* 40.89 / 16 = 2.555625*/
}

.nav_left {
  gap: 0.97rem; /* 15.59/16 = 0.974375*/
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_img {
  height: 2.43rem; /* 39px / 16 px = 2.43rem */
}

.logo_text {
  font-weight: 200;
  font-size: 1.2rem;
}

span {
  font-weight: 600;
}

.search_container {
  --padding: 0 1rem;
  --bg-color: #252a40;
  --height: 2.9rem; /*47 / 16 px= 2.93rem */
  --border-radius: 0.4rem; /* 6.5/16 = 0.406rem */

  display: flex;
}

.search {
  border: none;
  padding: var(--padding);
  width: 11.8rem;
  height: var(--height);
  border-radius: var(--border-radius) 0 0 var(--border-radius);

  background: var(--bg-color);
  color: white;

  transition: all 2s;
}

.search::placeholder {
  font-size: 13.11px;
  color: white;
}

.search_icon {
  background: var(--bg-color);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: var(--padding);
  height: var(--height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* 32 /16 = 2rem*/
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile_notification {
  height: 1.43rem; /* 23/16 = 1.4375rem*/
}

.profile_img {
  width: 2.06rem; /* 33/16 = 2.0625 */
  height: 2.06rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile_info {
  color: #adb3cc;
}

.profile_info > p {
  font-size: 0.51rem; /* 8.19/16 = 0.511875 */
  text-transform: uppercase;
}

.profile_info > h1 {
  font-size: 0.81rem; /* 13.11/16 = 0.819375 */
  font-weight: 600;
  display: flex;
  align-items: center;
}

.profile_downarrow {
  margin-left: 0.5rem;
}

.hamb,
.hambCheck {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav_right {
    gap: 1rem;
  }

  .nav_list {
    display: none;
  }

  /*Nav List*/
  .nav_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem;
    background: var(--deep-blue);

    flex-direction: column;
    gap: 0;
  }

  .nav_list > * {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--blue-gray);
  }

  /* hamburger Menu */

  .hamb {
    display: block;
    cursor: pointer;
  }

  .hambSpan {
    --white: white;
    --width: 32px;
    --height: 4px;
    --gap: 9px;
    --transition: all 0.3s ease-out;

    display: block;
    background: var(--white);
    width: var(--width);
    height: var(--height);
    position: relative;
    transition: var(--transition);
  }

  .hambSpan::before,
  .hambSpan::after {
    background: var(--white);
    content: "";
    display: block;
    width: var(--width);
    height: var(--height);
    position: absolute;
    transition: var(--transition);
  }
  .hambSpan::before {
    bottom: var(--gap);
  }
  .hambSpan::after {
    top: var(--gap);
  }

  .hambCheck {
    display: none;
  }

  .hambCheck:checked ~ .hamb .hambSpan::after,
  .hambCheck:checked ~ .hamb .hambSpan::before {
    rotate: 45deg;
    top: 0;
  }

  .hambCheck:checked ~ .hamb .hambSpan::before {
    rotate: -45deg;
  }

  .hambCheck:checked ~ .hamb .hambSpan {
    background: transparent;
  }

  .hambCheck:checked ~ .nav_list {
    display: flex;
  }
}

@media screen and (max-width: 850px) {
  .search {
    width: 6rem;
  }

  .nav_list,
  .logo_text {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .nav {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .nav {
    padding: 0 1rem;
  }

  .search_icon {
    border-radius: var(--border-radius);
  }

  .search {
    width: 6rem;
  }

  .nav_list,
  .search,
  .logo_text {
    display: none;
  }
  .profile_info {
    display: none;
  }
}
